:root {
  --primary_colour: #282c34;
  --secondary_colour: #ffffff;
  --input_colour: #404754;
  --input_hover_colour: #5c6679;
  --shadow_colour: #1f2228;
  --light_text_colour: #ffffff;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
  color: var(--secondary_colour);
}

.App {
  display: grid;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary_colour);
}

.logIn {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_colour);
  justify-self: center;
}

.inputs {
  margin: 30px;
  padding: 30px;
}

.inputs input {
  margin: 10px;
  width: 150px;
  height: 30px;
  border: 2px solid var(--secondary_colour);
  background-color: var(--input_colour);
  border-radius: 10px;
  color: var(--light_text_colour);
  padding-left: 10px;
  padding-right: 10px;
}

.inputs input:hover {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--input_hover_colour);
}

.inputs input:focus {
  outline: none;
}

.inputs b {
  color: red;
  margin: 10px;
  font-size: 14px;
}

.inputs label {
  margin: 10px;
  color: var(--light_text_colour);
}

.inputs select {
  margin: 10px;
  border-radius: 10px;
  background-color: var(--input_colour);
  color: var(--light_text_colour);
}

.inputs select:hover {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--input_hover_colour);
}

.logIn button {
  border-radius: 10px;
  background-color: var(--primary_colour);
  color: var(--light_text_colour);
  height: 40px;
  font-size: calc(20px);
  margin-bottom: 50px;
}

.logIn button:hover {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--input_hover_colour);
  cursor: pointer;
}
