:root {
  --primary_colour: #282c34;
  --secondary_colour: #ffffff;
  --input_colour: #404754;
  --input_hover_colour: #5c6679;
  --shadow_colour: #1f2228;
  --light_text_colour: #ffffff;
  --red: #f43030;
}

.App-header {
  background-color: #282c34;
  height: 100px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
  color: var(--secondary_colour);
}

.App-header h1 {
  margin-bottom: 10px;
  margin-top: 0px;
}

.App-header div {
  background-color: #282c34;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(20px);
  color: var(--secondary_colour);
}

.unregisterButton {
  background-color: var(--primary_colour);
  color: var(--red);
  border-radius: 10px;
  border-color: var(--red);
  margin-inline: 20px;
  width: 100px;
}

.unregisterButton:hover {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--red);
  color: var(--light_text_colour);
  cursor: pointer;
  font-weight: bold;
}

.App {
  display: grid;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary_colour);
}

.logIn {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_colour);
  justify-self: center;
}

.inputs {
  margin: 30px;
  padding: 30px;
}

.inputs input {
  margin: 10px;
  width: 150px;
  height: 30px;
  border: 2px solid var(--secondary_colour);
  background-color: var(--input_colour);
  border-radius: 10px;
  color: var(--light_text_colour);
  padding-left: 10px;
  padding-right: 10px;
}

.inputs input:hover {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--input_hover_colour);
  font-weight: bold;
}

.inputs input:focus {
  outline: none;
}

.inputs b {
  color: var(--red);
  margin: 10px;
  font-size: 14px;
}

.inputs label {
  margin: 10px;
  color: var(--light_text_colour);
}

.inputs select {
  margin: 10px;
  border-radius: 10px;
  background-color: var(--input_colour);
  color: var(--light_text_colour);
  width: 70px;
  text-align: center;
}

.inputs select:hover {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--input_hover_colour);
  font-weight: bold;
}

.mainScreenButton {
  border-radius: 10px;
  background-color: var(--primary_colour);
  color: var(--light_text_colour);
  height: 40px;
  font-size: calc(20px);
  margin-bottom: 50px;
}

.videoButton {
  border-radius: 10px;
  background-color: var(--primary_colour);
  color: var(--light_text_colour);
  height: 40px;
  width: 140px;
  font-size: calc(20px);
  margin-bottom: 50px;
  margin-inline: 10px;
}

.videoButton:hover:enabled {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--input_hover_colour);
  cursor: pointer;
  font-weight: bold;
}

.mainScreenButton:hover {
  box-shadow: 5px 5px var(--shadow_colour);
  background-color: var(--input_hover_colour);
  cursor: pointer;
  font-weight: bold;
}

.incomingCallWrapper-folded {
  justify-self: center;
  position: absolute;
  top: 75px;
}

.incomingCallWrapper-folded div {
  display: none;
}

.incomingCallWrapper-unfolded {
  width: 500px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary_colour);
  justify-content: center;
  border: 2px solid var(--secondary_colour);
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
  opacity: 90%;
}

.incomingCallText {
  flex: 2;
  font-size: calc(20px);
  justify-content: center;
  display: flex;
  margin-top: 7px;
  color: var(--red);
}

.incomingCallButtonWrap {
  justify-content: center;
  display: flex;
}

.incomingCallButton {
  border-radius: 10px;
  color: var(--light_text_colour);
  height: 40px;
  width: 150px;
  font-size: calc(20px);
  margin-bottom: 10px;
  margin-inline: 30px;
}

.popUpUiWrapper {
  width: 500px;
  height: 350px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_colour);
  transition: width 200ms;
  position: absolute;
  top: 30vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.videoDisplayWindow {
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary_colour);
  transition: width 200ms;
  max-width: 1000px;
  max-height: 570px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.videoButtonsWrap {
  display: flex;
}

.videoDisplay video {
  border-radius: 15px;
  max-height: 400px;
  max-width: 400px;
  margin: 20px;
}

.videoDisplayStatsWrap {
  margin-bottom: 20px;
  display: flex;
  flex: 2;
  color: var(--secondary_colour);
}

.videoDisplayWrapper {
  display: flex;
  flex-direction: row;
}

.videoDisplayStat {
  width: 200px;
}

.outboundCallPopUp {
  width: 600px;
  height: 230px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary_colour);
  justify-content: center;
  border: 2px solid var(--secondary_colour);
  margin-left: auto;
  margin-right: auto;
  opacity: 98%;
}

.outboundCallPopUp b {
  flex: 2;
  font-size: calc(20px);
  justify-content: center;
  display: flex;
  margin-top: 70px;
  color: var(--light_text_colour);
}

.outboundCallPopUp button {
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  border-radius: 10px;
  color: var(--light_text_colour);
  height: 45px;
  font-size: calc(20px);
  margin-bottom: 20px;
}
